!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{ :rel=>'stylesheet', :type=> 'text/css', :href=>'stylesheet.css'}
    %title Title
  %body
    #header
      Header
    .contenido
      = yield
    #footer
